
.rs-sidenav-default,
.rs-sidenav-default .rs-dropdown-toggle,
.rs-sidenav-default .rs-sidenav-item,
.rs-sidenav-default .rs-sidenav-toggle-button {
    background-color: #27374D !important; /* Cambia el color de fondo */
    color: #ffffff !important; /* Cambia el color del texto */
}

.rs-sidenav-default .rs-sidenav-item:hover {
    background-color: #1e2a3d !important; /* Color de fondo al pasar el mouse */
}

.rs-sidenav-default .rs-dropdown-toggle:hover {
    background-color: #1e2a3d !important; /* Color de fondo al pasar el mouse */
}